body{
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}
#cart-items{
    position: absolute;
    display: none;
    width: 50%; 
    max-height: 500px;
    right: 0px;
    border-radius: 5px 0px 0px 5px;
    /* border: 1px solid black; */
    box-shadow: 0px 1px 2px 0px rgb(211, 211, 211);
    opacity: 0.95;
    animation-name: cart-display;
    animation-duration: 1.5s;
}
ul{
    list-style-type: none;
}
.logo{
    margin-left: 50px;
}
.links{
    float: right;
}
footer{
    border-bottom: 1px solid orange;
}
.barner{
    background-image: url('/resourses/open2.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 300px;
}
form{margin-left: 5%;}
.motto{
    margin-top: 132px;
    margin-left: 5%;
    border-left: 1px solid orange;
    background-color: black;
    opacity: 0.8;
}
.link{
    font-family: sans-serif;
    color: white;
}
.link:hover{
    border-bottom: 1px solid white;
}
.links{
    font-family: sans-serif;
    margin-right: 10%;
    margin-top: 28px;
}
.enc{
    font-size: 100%;
}
.nav{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-left: 4%;
}
a{text-decoration: none;}
.thumbnail{
    margin-top: 5px;
}
.foot{
    margin-top: 20px;
    margin-left: -30px;
}
#cart{
    position: absolute;
    right: 25px;
    margin-top: -48px;
}
#cart-dismiss:hover{
    cursor: pointer;
}
#product-carrier{
    margin-top: 100px;
}
#products{
    /* max-height: 500px; */
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 5px;
    box-shadow: 0px -10px 10px -5px rgb(114, 114, 114) inset;
    width: 95%;
    margin: auto;
}
#promo-carousel{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    height: 400px;
    width: 500px;
    margin: auto;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
}
.product-image-container{
    display: inline-block !important;
}
#products div{
    display: block;
}
#product-container{
    max-width: 800px;
    width: 95%;
    margin: auto;
}
#banner{
    scroll-margin-top: -100px;
}
.carousel-item{
    display: none;
    position: relative;
    animation-name: carousel-display;
    animation-duration: 6s;
}
.carousel-item img{
    border-radius: 5px;
    box-shadow: 5px 5px 10px -5px rgb(145, 145, 145);
}
#promo-gallery, #wood-gallery, #steel-gallery{
    border-bottom: 1px solid black;
}
#side-menu{
    display: none;
}
#toogle-items{
    display: none;
    position: absolute;
    width: 40%;
    right: -15px;
    top: 66px;
    animation-name: menu-display;
    animation-duration: 1.5s;
}
#modal-overlay{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: rgba(116, 116, 116, 0.37);
}
.modal-item{
    background-color: black;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    margin: auto;
    margin-top: 5%;
    display: none;
}
.cancel-modal{
    z-index: 1;
    color: red;
    text-align: right;
    margin-right: 15px;
    font-weight: bold;
}
#search-input{
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    border: none;
}
.offers{
    width: 100%;
    border-radius: 5px;
    background-color: rgb(54, 54, 54);
    margin: auto;
    padding: 25px;
    padding-top: 5px;
    /* text-align: center; */
}
.carousel-item img{
    width: 250px;
    height: auto;
}
#product-container{
    margin-top: 100px;
}
.individual-offers{
    margin-top: 10px;
}
.individual-offers div{
    width: 100%;
}
.individual-offers div img{
    width: 100%;
}
@keyframes menu-display{
    0%{right: -200px;}
    100%{right: -15px;}
}
@keyframes carousel-display{
    0%{right: -400px;}
    50%{right: 0px;}
    100%{right: 600px;}
}
@keyframes cart-display{
    0%{right: -200px;}
    100%{right: 0px;}
}
/* @media screen and (min-width: 434px) {

} */
/* @media screen and (max-width: 830px) {
    #product-container{
        width: ;
    }
} */
@media screen and (max-width: 434px) {
    .offers{
        text-align: center;
    }
    #product-desc{
        margin-top: 30px;
    }
    #promo-carousel{
        width: 100%;
        height: 300px;
    }
    .modal-item{
        width: 75%;
        margin-top: 55%;
    }
    .logo{
        margin-left: 10px;
    }
    #side-menu{
        display: block;
    }
    .tlinks{
        display: none;
    }
    #cart-items{
        width: 70%; 
    }
    #search-input{
        width: 200px;
    }
    #cart{
        right: 20px;
        /* margin-top: 0px; */
    }
    #promo-carousel{
        width: 80%;
    }
    .carousel-item img{
        width: 150px;
        height: auto;
    }
    #product-container{
        margin-top: 80px;
    }
    @keyframes carousel-display{
        0%{right: -250px;}
        50%{right: 0px;}
        100%{right: 400px;}
    }
}
@media only screen and (max-width: 360px) {
    .tlinks{
        margin-left: 10px;
    }
}